    <head>
        <title>Marvel Character Finder</title>
        <link rel = "stylesheet" href="../public/site.css">
    </head>
    <body>
        <h1 class="center-text enlarge-header">Marvel Character Finder</h1>
        <main>
            <p class="center-text margins">This is the Marvel Character Finder. You can use it to search for your favorite Marvel characters. DC is not allowed here.</p>
            <form action = "/searchmarvelcharacters" method = "POST" class="center-text">
                <label for="searchmarvelcharacters">Search</label>
                <input type="text" id="searchmarvelcharacters" name="searchmarvelcharacters">
                <input class="button" type="submit">
            </form>
        </main>
    </body>