<head>
        <title>Admin</title>
        <link rel = "stylesheet" href="../../public/css/styles.css">
</head>
<body>
    <header>
        <h1 class="center">Admin</h1>
    </header>
    <main class="margin-left">
        <p class="center">Welcome {{firstName}} {{lastName}}, the time is now: {{currentTime}}. You get super secret admin access since you are an admin.
            Remember, with great power comes great responsibility!!</p>
        <a class="center-text" href="/protected">Protected</a>
        <br>
        <a class="center-text" href="/logout">Logout</a>
    </main>
    <script src="../public/js/client_side_validation.js"></script>
</body>